body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.titulo{
    padding: 2%;
    color: burlywood;
    text-align: center;
}
.imagen{
    padding-top: 1%;
    text-align: center;
}
p{
    padding-top: 1%;
    color: brown;
    font-size: 20px;
    text-align: justify;
}

.boton{
    color:black;
    font-size: 20px;
    background-color: burlywood;
    border-radius: 10px;
    
}
